<header id="home">
  <div class="navbar">
    <nav>
      <a href="#home" id="logo">Nouredin Elbasuny</a>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-content">
    <div class="content-text">
      <p><span class="text-primary">HI There, I'm</span></p>
      <h1>Nouredin Elbasuny</h1>
      <p class="title">Fullstack developer</p>
      <div class="social">
        <a href="https://www.facebook.com/nouredin.elbasuny" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/nouredin-elbasuny-927b09194/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https//github.com/NourElbasuny" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/nouredin_elbasuny/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <a href="#about" class="btn btn-primary">About Me <i class="fa-solid fa-circle-arrow-down"></i></a>
    </div>
    <div class="content-image">
      <img src="./assets/profilePhoto.png" alt="header image" height="772" width="767">
    </div>
  </div>
</header>
