<div class="hero-section d-flex align-items-center text-white" >
<div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">

<h1 class="fw-bold">Yassmin Sayed</h1>
<h2 class="lead">Software Engineer</h2>
<a href="mailto:yassmin.sayed868@gmail.com">

<button class="btn btn-outline-light mt-3">contact me</button>
</a>
</div>
<div class="col-md-6 text-center mt-4 mt-md-0 d-flex">
        <img [src]="imgPath" alt="Profile Photo" class="img-fluid rounded-circle profile-img" />
      </div>
</div>
</div>
</div>