<div class="about-section py-5 bg-light">
<div class="container">
<div class="row align-items-center">

      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0 ">
          <h2 class="fw-bold about ">About me</h2>
        </div>
          <div class="col-md-8 text-center text-md-start fw-lighter">
<p>Junior Software Engineer with Solid Knowledge and Hands on Experience in Development.
Having Knowledge in both Frontend Development and Backend Development web Applications
Standing (ex: React js- Node js also having hands on experience and skills in both SQL and Non-SQL
Databases).
Aiming to in hands my technical and interpersonal skills in a dynamic and sustainable environment.</p>

<a class="btn btn-dark mt-3" [href]="resumePath" download>
    Download Resume
</a>

          </div>
    </div>
</div>
</div>

