<div class="about-section py-5 bg-light">
<div class="container">
<div class="text-center">

          <h2 class="fw-bold portfolio">Portfolio</h2>
        </div>

          <div class="row g-4">
    <div class="col-md-4">
          <a [href]="webDesign" target="_blank" class="text-decoration-none text-light">

      <div class="portfolio-card-odd text-center p-5 shadow-sm">WEB DESIGN<hr>
    </div>
          </a>
    </div>

    <div class="col-md-4">
    <a [href]="testing" target="_blank" class="text-decoration-none text-light">

      <div class="portfolio-card bg-dark text-white text-center p-5 shadow-sm">Software Testing<hr class="border-white">
    
    </div>
    </a>
    </div>

       


       <div class="col-md-4">
          <a [href]="backend" target="_blank" class="text-decoration-none text-light">

      <div class="portfolio-card-odd text-center p-5 shadow-sm">Back-end<hr>
    </div>
          </a>
    </div>


          </div>    
</div>
</div>